*{
    color: var(--color-contrast);
}
body {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
/* variables */

:root {
    --accent: #FAC900;
    --white: #fff;
    --nav-height: 55px;
    --color-p: #323432;
    --color-s: #1F1F1F;
    --color-contrast: #D2D2D2;

    --btn-statu: #FFEA2C;
    --btn-hover: #FAC900;


    --global-spacing: 0.97rem;
}

.light {
    --accent: #FAC900;
    --white: #fff;
    --color-p: #D2D2D2;
    --color-s: #D2D2D2;
    --color-contrast: #323432;

    --btn-statu: #323432;
    --btn-hover: #323432;
}
/* général */

input::placeholder {
    color: var(--color-contrast);
    font-size: 1em;
  }
  textarea::placeholder {
    color: var(--color-contrast);
    font-size: 1em;
  }

a {
    text-decoration: none;
    color: var(--btn-statu);
    transition: color 0.45s ease-in-out;
}
a:hover {
    color: var(--btn-hover);
}

.color-link {
    color: var(--btn-statu);
}
.color-link:hover {
    color: var(--btn-hover);
}

/* flex */ 

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-enfant {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* btn */ 

.btn {
    border: solid var(--btn-statu) 1.5px;
    color: var(--btn-statu);
    border-radius: 0.5px;
    height: auto;
    padding: calc(var(--global-spacing)*0.5) calc(var(--global-spacing)*1.5);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    display: inline-block;
}
.btn:hover {
    border: solid var(--btn-hover) 1.5px;
    background-color: var(--btn-hover);
    color: var(--color-p);
}
.btn-s {
    border: solid var(--btn-hover) 1.5px;
    background-color: var(--btn-hover);
    color: var(--color-p);
    border-radius: 0.5px;
    height: auto;
    padding: calc(var(--global-spacing)*0.5) calc(var(--global-spacing)*1.5);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    display: inline-block;
}
.btn-s:hover {
    border: solid var(--btn-statu) 1.5px;
    background-color: transparent;
    color: var(--btn-statu);
}


/* typo */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    padding-top: 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5.5rem;
}
h2{
    padding-top: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
}
h2::after {
    content: "◼";
    color: var(--btn-statu);
    padding-left: var(--global-spacing);
    font-size: 2.5rem;
  }
h3 {
    padding-top: 0.5em;
    font-weight: 500;
    font-size: 1.5rem;
}
h3::after {
    content: "◻";
    color: var(--btn-statu);
    padding-left: calc(var(--global-spacing)*0.5);
    font-size: 1rem;
  }
p {
    padding-top: 0.5em;
    font-weight: 400;
    font-size: 1rem;
}
/* section */ 
.section {
    min-height: 10px;
    color: var(--color-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--global-spacing) * 2) 0;
    padding-top: calc(var(--global-spacing) + var(--nav-height));

}
.section:nth-child(odd) {
    background-color: var(--color-p);
}
.section:nth-child(even) {
    background-color: var(--color-s);  
}

/* wrapper */ 
.wrapper {
    min-height: 10px;
    width: 100%;
    max-width: 1140px;
    padding: 0 var(--global-spacing);
}

/* nav */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav > div > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
header {
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 9999;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-p);
    width: 100%;
    min-height: var(--nav-height);
    
    height: var(--nav-height);

}


nav div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.nav-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.nav-left {
    width: 30%;

}
nav li {
    min-width: 75px;
    margin: 0 calc(var(--global-spacing) * 0.5);
    padding: calc(var(--global-spacing) * 0.5);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}



/* light mode */ 

nav input[type=checkbox] { 
    display:none; 
}

nav svg {
    height: 20px;
    width: 20px;
    fill: var(--btn-statu);
    cursor: pointer;
    margin-left: 25px;
}
nav svg:hover {
    fill: var(--btn-hover);
}

/* hero */
.div-globalspacing {
    padding-top: calc(var(--global-spacing)*2);
    display: flex;
    flex-direction: row;
    justify-content: end;
} 

.div-globalspacing a{
    margin-right: var(--global-spacing);
} 

#hero {
    min-height: 90vh;
    padding-top: var(--global-spacing);
}
#hero img {
    
    object-fit: contain;
    height: 500px;
}

#h1-hero {
    z-index: 999;
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 0px;
    margin-top: 0px;
}

#h1-hero span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2.5px var(--color-contrast);
}
#h1-hero span:nth-child(2) {
    padding-left: 15%;
    color: var(--color-contrast);
}

#hero-enfant {
    justify-content: space-between;
}

/* formulaire */ 
#section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: calc(var(--global-spacing)*2);
}
input {
    background-color: var(--color-p);
    border: solid var(--color-contrast) 1px;
    padding: var(--global-spacing);
    margin: calc(var(--global-spacing)*0.5);
    width: 100%;
}
textarea {
    background-color: var(--color-p);
    border: solid var(--color-contrast) 1px;
    padding: var(--global-spacing);
    margin: calc(var(--global-spacing)*0.5);
    width: 100%;
    min-height: 150px;
}

textarea:focus-visible {
    border: solid var(--btn-hover) 1px;
    outline: solid var(--btn-hover) 1px;
}


input:focus-visible {
    border: solid var(--btn-hover) 1px;
    outline: solid var(--btn-hover) 1px;
}

#btn-form {
    width: auto;
}

.accept-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: var(--global-spacing);
    margin: calc(var(--global-spacing)*0.5);
}

.accept-form input{
    width: auto;
    margin-right: calc(var(--global-spacing)*2);
    border: solid var(--btn-hover) 1px;
}
