*{
    color: var(--color-contrast);
}
body {
    padding: 0;
    margin: 0;
}

/* variables */

:root {
    --accent: #FAC900;
    --white: #fff;
    --nav-height: 55px;
    --color-p: #323432;
    --color-s: #1F1F1F;
    --color-contrast: #D2D2D2;

    --btn-statu: #FFEA2C;
    --btn-hover: #FAC900;


    --global-spacing: 0.97rem;
}

.light {
    --accent: #FAC900;
    --white: #fff;
    --color-p: #D2D2D2;
    --color-s: #D2D2D2;
    --color-contrast: #323432;

    --btn-statu: #323432;
    --btn-hover: #323432;
}
/* général */

a {
    text-decoration: none;
    color: var(--btn-statu);
    transition: color 0.45s ease-in-out;
}
a:hover {
    color: var(--btn-hover);
}



/* flex */ 

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-enfant {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* btn */ 

.btn {
    border: solid var(--btn-statu) 1.5px;
    color: var(--btn-statu);
    border-radius: 0.5px;
    height: auto;
    padding: calc(var(--global-spacing)*0.5) var(--global-spacing);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    display: inline-block;
}
.btn:hover {
    border: solid var(--btn-hover) 1.5px;
    background-color: var(--btn-hover);
    color: var(--color-p);
}
.btn-s {
    border: solid var(--btn-hover) 1.5px;
    background-color: var(--btn-hover);
    color: var(--color-p);
    border-radius: 0.5px;
    height: auto;
    padding: calc(var(--global-spacing)*0.5) var(--global-spacing);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    display: inline-block;
}
.btn-s:hover {
    border: solid var(--btn-statu) 1.5px;
    background-color: transparent;
    color: var(--btn-statu);
}


/* typo */ 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Inter', sans-serif;
}

h1 {
    padding-top: 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5.5rem;
}
h2{
    padding-top: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
}
h3 {
    padding-top: 0.5em;
    font-weight: 500;
    font-size: 1.5rem;
}
p {
    padding-top: 0.5em;
    font-weight: 400;
    font-size: 1rem;
}
/* section */ 
.section {
    min-height: 10px;
    color: var(--color-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--global-spacing) * 4) 0;

}
.section:nth-child(odd) {
    background-color: var(--color-p);
}
.section:nth-child(even) {
    background-color: var(--color-s);  
}

/* wrapper */ 
.wrapper {
    min-height: 10px;
    width: 100%;
    max-width: 1140px;
    padding: 0 var(--global-spacing);
}

/* nav */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav > div > a {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-p);
    width: 100%;
    min-height: var(--nav-height);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: var(--nav-height);
    z-index: 9999;
}


nav div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav li {
    min-width: 75px;
    margin: 0 calc(var(--global-spacing) * 0.5);
    padding: calc(var(--global-spacing) * 0.5);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}


/* hero */ 

#hero {
    min-height: 90vh;
}
#hero img {
    
    object-fit: cover;
}

#h1-hero {
    z-index: 999;
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 0px;
    margin-top: 0px;
}

#h1-hero span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2.5px var(--color-contrast);
}
#h1-hero span:nth-child(2) {
    padding-left: 15%;
    color: var(--color-contrast);
}

#hero-enfant {
    justify-content: space-around;
}

